@charset "utf-8";

* {
  font-family: 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
}
html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  width: 1000px;
  margin: 0 auto;
}

header>h1, section>h1 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.5em;
  color: #101010;
  border-bottom: 3px solid #e0e0e0;
  margin-top: 20px;
  margin-bottom: 10px;
}
header>h2, section>h2 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.4em;
  color: #202020;
  border-bottom: 3px solid #e8e8e8;
  margin-top: 20px;
  margin-bottom: 10px;
}
header>h3, section>h3 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.3em;
  color: #303030;
  margin-top: 20px;
  margin-bottom: 10px;
}

hr {
  display: none;
}

input[type="button"] {
  padding: 3px 15px;
}
input[type="number"] {
  font-family: D2Coding, 나눔고딕코딩, Consolas, monospace;
  padding: 3px 3px;
  text-align: right;
  min-width: 3em;
}
input[type="file"] {
  padding: 1px;
  width: 300px;
  background-color: #f0f0f0;
}


/************************************************/

#version-label {
  font-family: D2Coding, 나눔고딕코딩, Consolas, monospace;
  font-size: 0.85rem;
  font-weight: normal;
}
#header-button-div {
  float: right;
}

#file-section {
  float: left;
  width: 50%;
}
#encoding-text {
  padding: 3px;
  width: 5.5em;
  font-family: D2Coding, 나눔고딕코딩, Consolas, monospace;
}

#output-section {
  float: left;
  width: 50%;
  text-align: right;
}
#select-page-label {
  display: inline-block;
  margin: 0 0 0 3px;
  width: 3.5rem;
  text-align: right;
  font-family: Consolas, monospace;
}
#last-page-label {
  display: inline-block;
  margin: 0 3px 0 0;
  width: 3rem;
  text-align: left;
  font-family: Consolas, monospace;
  font-size: 0.85em;
}
#text-cut-button, #text-clear-button {
  width: 80px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-weight: bold;
}

#display-section {
  clear: both;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

#pvw-div, #pgm-div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  width: 230px;
  min-height: 110px;
  max-height: 110px;
  overflow: hidden;
  cursor: default;
}
#pvw-div {
  margin: 5px 5px 5px 0;
  outline: #00a000 solid 5px;
}
#pgm-div {
  margin: 5px 0 5px 5px;
  outline: #808080 solid 5px;
}
#pvw-div *::selection,
#pgm-div *::selection {
  background-color: rgba(0, 0, 0, 0);
}
#pvw-div *::-moz-selection,
#pgm-div *::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}
.content-display {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.what-display {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 5px;
  font-family: Consolas, monospace;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}
.pagenum-display {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  font-family: Consolas, monospace;
  font-weight: bold;
  color: #ffffff;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}

#pagelist-section {
  clear: both;
}
#pagelist-div {
  display: flex;
  width: 992px;
  background-color: #c0c0c0;
  overflow-y: scroll;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 4px;
  font-family: 나눔바른고딕OTF;
  cursor: default;
}
#pagelist-div *::selection {
  background-color: rgba(0, 0, 0, 0);
}
#pagelist-div *::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}
#pagelist-div > #pagelist-guide-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #808080;
  font-size: 3em;
}
.pagelist-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  margin: 4px 4px 8px 4px;
  padding: 2px;
  width: 146px;
  min-height: 71px;
  max-height: 71px;
  overflow: hidden;
  font-size: 11px;
  outline: #808080 solid 4px;
}
.pagelist-cell:hover {
  outline: #a0a000 solid 4px;
  background-color: #404000;
}
.pagelist-cell-content {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.pagelist-cell-content * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.pagelist-cell-pagenum {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 5px;
  font-family: Consolas, monospace;
  font-weight: bold;
  color: #ffffff;
  font-size: 1rem;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}

/************************************************/

.content-display h1 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.5em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.content-display h2 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.4em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.content-display h3 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.3em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.content-display h4 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.2em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.content-display h5 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.1em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.content-display h6 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.0em;
  color: #ffff00;
  border: none;
  margin: 0;
}

.content-display code {
  border: none;
  background-color: transparent;
  padding: 0;
}

/************************************************/

.pagelist-cell-content h1 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.5em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.pagelist-cell-content h2 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.4em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.pagelist-cell-content h3 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.3em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.pagelist-cell-content h4 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.2em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.pagelist-cell-content h5 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.1em;
  color: #ffff00;
  border: none;
  margin: 0;
}
.pagelist-cell-content h6 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 1.0em;
  color: #ffff00;
  border: none;
  margin: 0;
}

.pagelist-cell-content code {
  border: none;
  background-color: transparent;
  padding: 0;
}
