@charset "utf-8";

html {
  font-family: 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body {
  width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 나눔스퀘어OTF, 나눔스퀘어, 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1.0em;
}

header>h1, section>h1 {
  border-bottom: 3px solid #e0e0e0;
  margin-top: 20px;
  margin-bottom: 10px;
}
header h2, section h2 {
  font-size: 1.0em;
  margin: 0;
}

hr {
  display: none;
}

input {
  font-family: 나눔바른고딕OTF, 나눔바른고딕, 나눔고딕OTF, 나눔고딕, sans-serif;
}
input[type="button"] {
  padding: 3px 10px;
}
input[type="number"] {
  font-family: D2Coding, 나눔고딕코딩, Consolas, monospace;
  padding: 3px 3px;
  text-align: right;
  min-width: 3em;
}
input[type="file"] {
  padding: 1px;
  width: 300px;
  background-color: #f0f0f0;
}

/************************************************/

#version-label {
  font-family: D2Coding, 나눔고딕코딩, Consolas, monospace;
  font-size: 0.85rem;
  font-weight: normal;
}
#header-button-div {
  float: right;
}

#file-section {
  margin-right: 515px;
  margin-bottom: 5px;
}
#encoding-text {
  padding: 3px;
  width: 5.5em;
  font-family: D2Coding, 나눔고딕코딩, Consolas, monospace;
}

#setting-section {
  margin-right: 515px;
  font-size: 0.85em;
}
#setting-section>div {
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px;
  background-color: #f8f8f8;
  border: 2px solid #d8d8d8;
  box-shadow: 1.5px 3px 3px rgba(0, 0, 0, 0.4);
}
#align-table {
  border: 1px solid #000000;
  border-spacing: 0;
}
#align-table td {
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  text-align: center;
  font-size: 0.75em;
  cursor: pointer;
}
#align-table td:hover {
  background-color: #e0f0ff;
}
#align-table td:active {
  background-color: #d0e8ff;
}
td.align-selected {
  background-color: #d0e8ff;
}

#output-section {
  float: right;
  /*margin-left: 5px;*/
}
#control-div {
  text-align: right;
}
#select-page-label {
  display: inline-block;
  margin: 0 0 0 3px;
  width: 3.5rem;
  text-align: right;
  font-family: Consolas, monospace;
}
#last-page-label {
  display: inline-block;
  margin: 0 3px 0 0;
  width: 3rem;
  text-align: left;
  font-family: Consolas, monospace;
  font-size: 0.85em;
}
#text-cut-button, #text-clear-button {
  width: 80px;
  padding-left: 0.25em;
  padding-right: 0.25em;
  font-weight: bold;
}

#display-div {
  clear: both;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

#pvw-div, #pgm-div {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  width: 230px;
  min-height: 110px;
  max-height: 110px;
  overflow: hidden;
  cursor: default;
}
#pvw-div {
  margin: 5px 5px 5px 0;
  outline: #00a000 solid 5px;
}
#pgm-div {
  margin: 5px 0 5px 5px;
  outline: #808080 solid 5px;
}
#pvw-div *::selection, #pgm-div *::selection {
  background-color: rgba(0, 0, 0, 0);
}
#pvw-div *::-moz-selection, #pgm-div *::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}
.content-display {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.what-display, .pagenum-display,
.pagelist-cell-pagenum {
  position: absolute;
  bottom: 0;
  padding: 0 5px;
  font-family: Consolas, monospace;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}
.what-display {
  left: 0;
  text-align: left;
}
.pagenum-display {
  right: 0;
  text-align: right;
}

#pagelist-section {
  clear: both;
}
#pagelist-div {
  display: flex;
  width: 992px;
  background-color: #c0c0c0;
  overflow-y: scroll;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 4px;
  font-family: 나눔바른고딕OTF;
  cursor: default;
}
#pagelist-div *::selection {
  background-color: rgba(0, 0, 0, 0);
}
#pagelist-div *::-moz-selection {
  background-color: rgba(0, 0, 0, 0);
}
#pagelist-div > #pagelist-guide-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #808080;
  font-size: 3em;
}
#pagelist-div > .pvw-border {
  outline: #00a000 solid 4px;
}
#pagelist-div > .pgm-border {
  outline: #e00000 solid 4px;
}
.pagelist-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  margin: 4px 4px 8px 4px;
  padding: 2px;
  width: 146px;
  min-height: 71px;
  max-height: 71px;
  overflow: hidden;
  font-size: 11px;
  outline: #808080 solid 4px;
}
.pagelist-cell:hover {
  outline: #a0a000 solid 4px;
  background-color: #404000;
}
.pagelist-cell-content {
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
.pagelist-cell-content * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
/* refer to #pvw-div, #pgm-div */
.pagelist-cell-pagenum {
  right: 0;
  font-size: 1rem;
  text-align: right;
}

/************************************************/

.content-display h1,
.content-display h2,
.content-display h3,
.content-display h4,
.content-display h5,
.content-display h6 {
  color: #ffff00;
  border: none;
  margin: 0;
}
.content-display code {
  border: none;
  padding: 0;
}

/************************************************/

.pagelist-cell-content h1,
.pagelist-cell-content h2,
.pagelist-cell-content h3,
.pagelist-cell-content h4,
.pagelist-cell-content h5,
.pagelist-cell-content h6 {
  color: #ffff00;
  border: none;
  margin: 0;
}
.pagelist-cell-content code {
  border: none;
  padding: 0;
}
